body {
	background-color: #000000;
	font-family:'Sunflower', sans-serif;
}
h1 {
	color: #0002;
}
h2 {
	color: #060;
}

.bg-dark {
	background-color: #000000 !important;
}

.nav-link {
	color: #f2f2f2 !important;
}
.nav-link:hover {
	color: #e6e600 !important;
}

a.active {
	color: #b3b300 !important;
}

.hero_img {
	display: inline-flex;
	float: right;
	height: 200px;
	width: 200px;
}

.mojo_hero {
margin: 20px;
}
