body {
	background-color: #000000;
	font-family:'Sunflower', sans-serif;
}
h1 {
	color: #0002;
}
h2 {
	color: #060;
}

.bg-dark {
	background-color: #000000 !important;
}

.nav-link {
	color: #f2f2f2 !important;
}
.nav-link:hover {
	color: #e6e600 !important;
}

a.active {
	color: #b3b300 !important;
}
.jumbotron h1 {
	color: #0606;
	padding-left: 1em;
}

.jumbotron p {
	padding-left:2em;
}

/* Scorecard area */
.scorecard {
	background-color: azure;
}

.section-title {
	font-size: 1.25em;
	padding: 10px;
}

.section-numbers img {
	padding: 3px 10px 3px 3px;
}


/* Dice rolling area */
.dice-roll {
	background-color: #e6e;
}

